// import the CSS framework
@import "foundation";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#logo {
  top: 0px;
  left: 0px;
  width: 198px;
  height: 150px;
  position: fixed;
  background-color: black;
  font-size: 40px;
  padding: 40px 40px 40px 40px;
  font-variant: small-caps;
  border-bottom: 1px solid white;
}

#minimizeWidth {
  max-width: 300px;
}

h4 a {
  font-size: 16px;
  color: black;
  font-weight: bold;
  padding: 3px 6px 5px 6px;
}

h4 a:hover {
  color: red;
  background-color: black;
}

h4 a:visited {
  color: black;
}

h3 {
  font-size: 20px;
  color: black;
}

h3 a:hover {
  color: darkblue;
  background-color: white;
  font-weight: bold;
}

h3 a:visited {
  color: black;
}

#allImages img {
  max-height: 200px;
}

#user_login {
  left: 0px;
  bottom: 0px;
  position: fixed;
  background: black;
  border-top: 1px white solid;
  width: 198px;
  height: 42px;
  padding-top: 10px;
}

#user_login a {
  font-size: 12px;
  color: white;
  border: 1px black solid;
  padding: 3px 6px 5px 8px;
  text-decoration: none;
  text-align: center;
  margin-left: 25px;
  font-variant: small-caps;
}

#user_login a:hover {
  background-color: #028dba;
  color:white;
}

#side_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 100%;
  min-height: 700px;
  background-color: #028dba;
  color: white;
  max-height: 100%;
  bottom: 0px;
  border-right: 2px white solid;
}

#main_content {
  position: fixed;
  left: 199px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 30px;
  overflow-y: auto;
  max-height: 100%;
  max-width: 100%;
  border-left: 10px black double;
}

#nav_links {
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  background-color: black;
  width: 100%;
  top: 30%;
  position: absolute;
  padding: 10px 15px 12px 15px;
  text-align: right;
}

#current {
  color: blue;
}

#nav_links a {
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
  color: white;
}

#nav_links a:hover {
  color: #0088ba;
  font-weight: bold;
}

#active_link {
  color: blue;
}

html {
  overflow: hidden;
}

p {
  padding: 0 0 1em;
}


// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }

@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }

// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }

// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
  }

section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for Devise views
// using Foundation
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @include panel();
  padding-bottom: 60px;
}
.authform form a {
  font-size: rem-calc(13);
}
.authform form p {
  font-size: rem-calc(13);
}
.authform .form-group {
  // for Bootstrap, not used for Foundation
}
.authform .form-control {
  // for Bootstrap, not used for Foundation
}
.authform .checkbox {
  // for Bootstrap, not used for Foundation
}
.authform fieldset {
  @include panel();
}
.authform #error_explanation {
  @extend .alert-box;
  @extend .alert;
}
.authform #error_explanation h2 {
  font-size: rem-calc(16);
  color: white;
}
